@import '../../main';


.summaries-table {
  td.location {
    vertical-align: middle;
  }

  td.actions {
    text-align: right;
    vertical-align: middle;
  }

  .summary-location-data {
    margin: 0;

    .summary-data-label {
      font-weight: normal;
      color: $color-bs-text-muted;
    }
  }
}
